bash/.ignore.prev-col
haskell/*
!haskell/.cabal/config
!haskell/.stack/global/stack.yaml
mpd/*
!mpd/.config/mpd/mpd.conf
ncmpcpp/*
!ncmpcpp/.ncmpcpp/config
pentadactyl/*
!pentadactyl/.pentadactylrc
vim/.vim/bundle/
xmonad/*
!xmonad/.xmonad/xmobar.rc
!xmonad/.xmonad/xmonad.hs
