Config
    { font          = "xft:Terminus (TTF)-9"
    , bgColor       = "#2f163f"
    , fgColor       = "#ffffff"
    , position      = Static
        { xpos    = 1944
        , ypos    = 24
        , width   = 1872
        , height  = 12
        }
    , border        = NoBorder
    , lowerOnStart  = True
    , commands      =
        [ Run Date "%a %b %_d %Y %H:%M:%S" "date" 10
        , Run MPD ["-t", "<state>: <artist> - <title> (<lapsed>/<length>)"] 10
        , Run CoreTemp
            [ "--template" , "<core0>° <core1>° <core2>° <core3>°"
            , "--Low"      , "60"   -- units: °C
            , "--High"     , "80"   -- units: °C
            , "--low"      , "#ffffff"
            , "--normal"   , "#d0d080"
            , "--high"     , "#d08080"
            ] 10
        , Run MultiCpu
            [ "--template" , "<total0>% <total1>% <total2>% <total3>%"
            , "--Low"      , "50"   -- units: %
            , "--High"     , "85"   -- units: %
            , "--low"      , "#ffffff"
            , "--normal"   , "#d0d080"
            , "--high"     , "#d08080"
            ] 10
        , Run StdinReader
        ]
    , sepChar   = "%"
    , alignSep  = "}{"
    , template  = "%StdinReader% }{ %mpd% | CPU %multicpu% : %coretemp% | %date% "
    }
