Config
  { font          = "xft:monospace:size=9"
  , fgColor       = "#000000"
  , bgColor       = "#ffffff"
  , position      = TopP 17 17
  , border        = BottomB
  , borderColor   = "#000000"
  , lowerOnStart  = True
  , commands      =
    [ Run StdinReader
    , Run Date "%a %h %d %r" "date" 10
    ]
  , sepChar   = "%"
  , alignSep  = "}{"
  , template  = "%StdinReader% }{ %date% "
  }
