[Unit]
Description=Resume fancontrol on resume
After=suspend.target

[Service]
Type=simple
ExecStart=/usr/bin/systemctl --no-block restart fancontrol.service

[Install]
WantedBy=suspend.target
