[Unit]
Description=1.8TB Physical Drive
Before=local-fs.target
Requires=mk-physical-bind.service
ConditionVirtualization=false
AssertPathIsDirectory=/mnt/shared-physical

[Mount]
What=/dev/disk/by-uuid/375626BD0EB8991E 
Where=/mnt/shared-physical
Options=uid=lukke,gid=lukke,umask=0022
Type=ntfs-3g

[Install]
WantedBy=multi-user.target
