URxvt.scrollBar:            false
URxvt.font:                 xft:Terminess Powerline:size=9
URxvt.depth:                32
URxvt.saveLines:            0
URxvt.perl-ext:             default,url-select
URxvt.keysym.C-i:           perl:url-select:select_next
URxvt.url-select.launcher:  firefox
URxvt.url-select.underline: true
URxvt.cursorUnderline:      true
URxvt.cursorBlink:          true

URxvt*foreground: rgba:9300/9300/9300/ffff
URxvt*background: rgba:2f00/2f00/2f00/e000

! Black
*color0:  #35313b
*color8:  #4f4c56

! Red
*color1:  #885163
*color9:  #b98898

! Green
*color2:  #5c845b
*color10: #92b692

! Yellow
*color3:  #887d5b
*color11: #b9af92

! Blue
*color4:  #55598e
*color12: #8c8ec0

! Magenta
*color5:  #81518e
*color13: #b388c0

! Cyan
*color6:  #558487
*color14: #8cb6b9

! White
*color7:  #aeaab4
*color15: #d0cdd7

Xft.antialias: true
Xft.autohint:  true
Xft.dpi:       96
Xft.hinting:   true
Xft.hintstyle: hintsfull
Xft.rgba:      rgb

rofi.modi:              run,window,ssh
rofi.opacity:           100
rofi.width:             50
rofi.lines:             15
rofi.columns:           1
rofi.font:              Terminus 9
rofi.color-normal:      #292929,#939393,#292929,#7c60bf,#ececec
rofi.color-urgent:      #292929,#dc322f,#292929,#dc322f,#fdf6e3
rofi.color-active:      #292929,#939393,#292929,#7c60bf,#fdf6e3
rofi.color-window:      #292929,#7c60bf,#939393
rofi.bw:                2
rofi.location:          2
rofi.padding:           2
rofi.yoffset:           66
rofi.xoffset:           0
rofi.fixed-num-lines:   false
rofi.terminal:          urxvt
rofi.ssh-client:        ssh
rofi.disable-history:   true
rofi.levenshtein-sort:  true
rofi.case-sensitive:    false
rofi.sidebar-mode:      false
rofi.eh:                1
rofi.line-margin:       2
rofi.separator-style:   none
rofi.hide-scrollbar:    true
rofi.fake-transparency: false
rofi.threads:           4
rofi.scrollbar-width:   8
rofi.scroll-method:     1
rofi.fake-background:   screenshot
rofi.window-format:     {w}   {c}   {t}
rofi.kb-cancel:         Escape,Control+bracketleft
