URxvt.scrollBar:            false
URxvt.font:                 xft:monospace:size=10
URxvt.depth:                32
URxvt.saveLines:            0
URxvt.perl-ext:             default,url-select
URxvt.keysym.C-i:           perl:url-select:select_next
URxvt.url-select.launcher:  google-chrome-stable
URxvt.url-select.underline: true
URxvt.cursorUnderline:      true
URxvt.cursorBlink:          true

URxvt*foreground: rgba:0000/0000/0000/ffff
URxvt*background: rgba:ffff/ffff/ffff/efff

Xft.antialias: true
Xft.autohint:  true
Xft.dpi:       96
Xft.hinting:   true
Xft.hintstyle: hintsfull
Xft.rgba:      rgb

rofi.modi:              run,window,ssh
rofi.opacity:           100
rofi.width:             50
rofi.lines:             15
rofi.columns:           1
rofi.font:              monospace 10
rofi.color-normal:      #ffffff,#000000,#ffffff,#e49e34,#ffffff
rofi.color-urgent:      #ffffff,#dc322f,#ffffff,#dc322f,#ececec
rofi.color-active:      #ffffff,#000000,#ffffff,#e49e34,#ffffff
rofi.color-window:      #ffffff,#e49e34,#000000
rofi.bw:                2
rofi.location:          2
rofi.padding:           2
rofi.yoffset:           66
rofi.xoffset:           0
rofi.fixed-num-lines:   false
rofi.terminal:          urxvt
rofi.ssh-client:        ssh
rofi.disable-history:   true
rofi.levenshtein-sort:  true
rofi.case-sensitive:    false
rofi.sidebar-mode:      false
rofi.eh:                1
rofi.line-margin:       2
rofi.separator-style:   none
rofi.hide-scrollbar:    true
rofi.fake-transparency: false
rofi.threads:           4
rofi.scrollbar-width:   8
rofi.scroll-method:     1
rofi.fake-background:   screenshot
rofi.window-format:     {w}   {c}   {t}
rofi.kb-cancel:         Escape,Control+bracketleft
